.detalle-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.detalle-titulo {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
}

.detalle-card {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.detalle-nombre {
  color: #c0289a;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 1em;
}

.detalle-fecha {
  color: #34495e;
  color: #5c345e;
  margin-bottom: 20px;
}

.detalle-productos h4 {
  color: #2c3e50;
  margin-bottom: 10px;
  border-bottom: 2px solid #3498db;
  padding-bottom: 5px;
}

.detalle-productos ul {
  padding-left: 0;
}

.detalle-productos li {
  list-style: none;
  padding: 8px 0;
  color: #34495e;
  border-bottom: 1px solid #ecf0f1;
}

.detalle-productos li strong {
  color: #2c3e50;
}

.detalle-total,
.detalle-peso {
  font-size: 18px;
  margin-top: 15px;
  font-style: italic;
}

.detalle-total span,
.detalle-peso span {
  color: #c0289a;
  font-size: larger;
  font-weight: 900;
}

.detalle-total strong,
.detalle-peso strong {
  color: #2c3e50;
  font-size: larger;
  font-weight: 900;
}
.mensaje-flotante {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  background-color: #33ecdf;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  z-index: 1000;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity 0.3s ease;
}
/* 
.mensaje-eliminado.oculto {
  opacity: 0;
}
.mensaje-flotante {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e74c3c;
  color: white;
  padding: 20px 30px;
  border-radius: 8px;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 9999;
} */
