filtrado-contenedor{
  
  margin-bottom:30px;
}

label{
  text-align: left;
  display: block;
  margin-left: 20px;
}
input{
  width: 60%;
  padding: 10px;
  border: 2px solid #bdc3c7;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
.boton-filto{
  color: #a7a4a4;
  background-color:#bdc3c7;
}
  

